.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
}

.infected {
    /* border-left: 10px solid #BD00FF; */
    background-image: url('../../images/virus.jpg');
    background-size: cover;
}

.recovered {
    /* border-top: 10px solid #13F252;
    border-bottom: 10px solid #13F252; */
    background-image: url('../../images/recovered.jpg');
    background-size: cover;
    background-position-y: 190px;
}

.deaths {
    /* border-right: 10px solid #FF0000; */
    background-image: url('../../images/death.jpg');
    background-size: cover;
    color: white;
}

@media only screen and (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}

@media only screen and (max-width: 570px) {
    .container {
        margin: 50px 25px;
    }
}